export(".cv.squeezy", "dminML.LA.ridgeGLM", ".logdet", "minML.LA.ridgeGLM",
       ".outercv.glmnet", ".produceFolds", ".SigmaBlocks", "squeezy", ".traintest.glmnet", ".traintest.squeezy")
import(stats)
import(graphics)
import(penalized)
import(glmnet) 
import(stats) 
import(Matrix) 
import(multiridge)
